*{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background: red;
}

header{
    background-color: #08488d;
    color: antiquewhite;
    min-height: 100px;
}

#main-head
{
    text-align: center;
    margin-top: 35px;
}

.score-board{
    margin: 50px auto;
    border: 10px solid;
    border-color:  #08488d;
    text-align: center;
    width: 500px;
    height: 300px;
    font-size: 30px;
    border-radius: 5px;
    color: azure;
}

.badge{
    text-align: center;
    background: azure;
    color: #08488d;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}

.b1{
    position: relative;
    margin-left: auto;
    margin-right: 20px;
}

.b2{
    position: relative;
    margin-left: auto;
    margin-right: 50px;
}

.score{
    margin-top: 0px;
    background:#08488d;
    height: 245px;
    padding-top: 70px;
    font-size: 80px;
    font-weight: 800;
}

#user-score{
    margin-left: 10px;
}


.result{
    font-size: 35px;
    margin-top: 10px;
    color: azure;
    font-weight: 800;
    text-align: center;
    background: #08488d;
    margin: 50px auto;
    width: 600px;
}

.options{
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #08488d;
    margin: 50px 180px;
    justify-content: center;
}

.choice #rock,#paper,#scissor{
    margin-left: 10px;
    width: 300px;
    position:static;
}

.choice{
    background: azure;
}

